@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
root {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #daecf3;
    /* background: radial-gradient(circle, #85f5fe 0%, rgba(109,109,199,1) 55%, rgba(8,26,132,1) 99%); */
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}
header {
    background-color: #07072c;
    box-shadow: 5px 5px 15px rgba(15, 15, 15, .5);;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height:  60px;
    min-height: 50px;
    z-index: 50;
}
.logo-container {
    background-color: #07072c;
    position: fixed;
    top: 15px;
    left: 15px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(15, 15, 15, .5);;
}
.logo {
    width: 70px;
    height: 70px;
    background-image: url(img/vportrait.webp);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
}
.burguer-container{
    width: 7vh;
    margin-left: auto;
    max-width: 400px;
    min-width: 50px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burguer-container:hover {
    background-color: gray;
}
.burguer{
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    margin: 2px 0;
    width: 60%;
    max-width: 40px;
    height: 10%;
}
.nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
main {
    display: flex;
    flex-direction: column;
}
.parallax {
    display: block;
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

}
.layer {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 1vw;
    height: 100%;
    width: 100%;
}

.layer0 {
    background-image: url(./img/layer1.webp);
    top: 5vh;
}
.layer1 {
    background-image: url(./img/layer2.webp);
    top: 8vh;
}
.layer2 {
    background-image: url(./img/layer3.webp);
    top: 16vh;
}
.balloon2 {
    display: none;
    width: 4.5rem;
    height: 6rem;
    top: 38vh;
    left: 60vw;
}
.layer3 {
    background-image: url(./img/layer5.webp);
    height: 170%;
    top: 8vh;
}
.layer5 {
    background-image: url(./img/layer6.webp);
    filter: blur(1px);
    top: 18vh;
    height: 150%;
}
.layer6 {
    top: 26vh;
    left: 15vw;
    filter: blur(1px);
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    width: 30vw;
}
.layer7 {
    top: 30vh;
    left: 55vw;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    width: 30vw;
}
.layer8 {
    top: 34vh;
    left: 75vw;
    filter: blur(1px);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    width: 30vw;
}
.svg-container1 {
    position: relative;
    height: 150px;
    width: 50%;
    margin: 20rem 2rem 2rem auto;
    display: flex;
    flex-direction: row-reverse;
}
.svg-container2 {
    display: flex;
    margin: 2rem auto 5rem 2rem;
    height: 150px;
    width: 70%;
}
.cta {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 30px 0; 
}
a {
    text-decoration: none;
}
.button {
    background-color: #697894;
    color: white;
    box-shadow: 5px 5px 15px rgba(15, 15, 15, .5);;
    font-weight: 800;
    display: flex;
    height: 40px;
    width: 180px;
    margin: 15px 15px;
    padding: 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.button2 {
    height: 26px;
    background-color: white;
    border: 7px solid #697894;
    color: #697894;
}
.button:hover {
    background-color: white;
    color: #697894;

}
.button2:hover {
    background-color: #697894;
    border: 7px solid white;
    color: white
}
.side {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    width: 20%;
}
.photo-container {
    background-image: url(img/august.webp);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    margin: 0 auto;
}
.intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.intro {
    background-color: rgba(208, 208, 250, 0.5);
    padding: 20px 5vw;
    box-shadow: 5px 5px 15px rgba(15, 15, 15, .5);;
    width: 60%;
    min-width: 350px;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
}
.introup {
    border-radius: 30px;
    width: 50%;
    margin: 0 10px 0 auto;
}
h1.title {
    margin-left: 25px;
}
.techs {
    width: 100vw;
    margin: 40px 0 60px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.technology {
    height: 100px;
    width: 100px;
    margin: 5px 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
footer {
    color: aliceblue;
    width: 100%;
    background-color: #07072c;
}
.project-card {
    width: 60%;
    min-width: 400px;
    background-color: #f0f8ff;
    margin: 15px auto;
    border: 2 solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(15, 15, 15, .5);;
    overflow: hidden;
}
.project-name {
    margin: 0;
    background-color: rgb(50, 50, 50);
    color: white;
    height: 50px;
    display: flex;
    align-items: baseline;
    padding-left: 20px;

}
.description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.card-left {
    width: 400px;
    margin: auto;
}
.text-intro {
    text-align: justify;
    width: 90%;
    margin: 10px auto 20px auto;
}
.project-cta {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
}
.report {
    display: none;
}
.card-right {
    width: 350px;
    min-height: 200px;
    margin-left: auto;
    background-position: center;
    background-size: cover;
    background-color:aquamarine;
}
.right0 {
    background-image: url(img/shop.webp);
}
.right1 {
    background-image: url(img/tvetprev.webp);
}
.right2 {
    background-image: url(img/quizprev.webp);
    background-size: 150%;
    background-repeat: no-repeat;
}
.right3 {
background-image: url(img/portfolio.webp);
}
.html {
    height: 80px;
    width: 80px;
    background-image: url(img/html2.webp);
}
.css {
    height: 80px;
    width: 80px;
    background-image: url(img/css2.webp);
}
.js {
    height: 80px;
    width: 80px;
    background-image: url(img/js2.webp);
}
.sass {
    background-image: url(img/sass4.webp);
}
.react {
    background-image: url(img/logo-react.webp);
}
.git {
    height: 75px;
    width: 75px;
    background-image: url(img/git.webp);
}
.photoshop {
    height: 70px;
    width: 70px;
    background-image: url(img/photoshop.webp);
}
.illustrator {
    height: 70px;
    width: 70px;
    background-image: url(img/illustrator-Logo-500x283.webp);
}

.form {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    min-width: 360px;
    margin: 30px auto;
    padding: 20px;
    position: relative;
    z-index: 2;
    border: 2 solid black;
    box-shadow: 5px 5px 20px rgba(15, 15, 15, .5);;
    font-size: 1.2rem;
}

.form__input, .form__label, .form__submit {
    display: block;
    width: 80%;
    font-size: 1em;
    margin: auto;
}
.form__input {
    padding:30px 15px 0 15px;
    border-radius: 15px;
    background-color: rgba(100, 100, 100,0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1 solid black;
    margin-bottom: 60px;
}
.form__input:focus {
    outline: 1 solid rgba(0,0,0,.6);
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.6);
}
.form__input:focus + .form__label {
    margin-top: -155px;
}
.form__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    border-radius: 5px;
}
.form__label {
    padding-left: 85px;
    background-color: transparent;
    width: 300px;
    position: absolute;
    margin-top:-100px;
    z-index: -2;
    transition: all .2s;
}
#area {
    height: 150px;
}
.arealabel {
    margin-top: -220px;
}
#area:focus + .form__label {
    margin-top: -280px;
}
.form__submit {
    height: 40px;
    padding: 10px;
    background-color: rgba(0,0,0,.9);
    color: rgb(245, 245, 245, .7);
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
.fijar {
    margin-top: -140px;
}
.fijararea {
    margin-top: -275px;
}
.smedia {
    width: 40%;
    min-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.media-title {
    font-size: 1.8rem;
}
.media-logo {
    width: 50px;
    height: 50px;
    margin: 5px 5px 40px;
}

.menu {
    display: none;
    flex-direction: column;
    align-items:flex-end;
    position: fixed;
    z-index: 25;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100,0.6);

}
.menu__anchor {
    background-color: #595959;
    text-decoration: none;
    font-weight: 800;
}
.menu__element {
    background-color: #07072c;
    height: 60px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    font-size: 1.2em;
    border: 2 solid #595959;
}
.menu__element:hover {
    color: #07072c;
    background-color: #85f5fe;
}
.nav__element {
    background-color: #07072c;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    font-size: 1.2em;
}
.nav__element:hover {
    color: #07072c;
    background-color: #85f5fe;
}
.nav__anchor {
    text-decoration: none;
    font-weight: 800;
    height: 100%;
}
svg .svg-arrow-1 {
    stroke-dashoffset: 365.2995910644531px;
    stroke-dasharray: 365.2995910644531px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
svg.active .svg-arrow-1 {
    stroke-dashoffset: 0;
    fill: rgb(147, 229, 249);
  }
svg .svg-name-1 {
    stroke-dashoffset: 594.4478759765625px;
    stroke-dasharray: 594.4478759765625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.active .svg-name-1 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-2 {
    stroke-dashoffset: 301.5115051269531px;
    stroke-dasharray: 301.5115051269531px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.active .svg-name-2 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-3 {
    stroke-dashoffset: 409.51434326171875px;
    stroke-dasharray: 409.51434326171875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.active .svg-name-3 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-4 {
    stroke-dashoffset: 301.5232238769531px;
    stroke-dasharray: 301.5232238769531px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.active .svg-name-4 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-5 {
    stroke-dashoffset: 211.5743865966797px;
    stroke-dasharray: 211.5743865966797px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.active .svg-name-5 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-6 {
    stroke-dashoffset: 292.5132751464844px;
    stroke-dasharray: 292.5132751464844px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg.active .svg-name-6 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-7 {
    stroke-dashoffset: 615.9385375976562px;
    stroke-dasharray: 615.9385375976562px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg.active .svg-name-7 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-8 {
    stroke-dashoffset: 224.31747436523438px;
    stroke-dasharray: 224.31747436523438px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-name-8 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-9 {
    stroke-dashoffset: 224.3214111328125px;
    stroke-dasharray: 224.3214111328125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg.active .svg-name-9 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
  svg .svg-name-10 {
    stroke-dashoffset: 320.7569885253906px;
    stroke-dasharray: 320.7569885253906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg.active .svg-name-10 {
    stroke-dashoffset: 0;
    fill: rgb(0, 0, 209);
  }
  
svg .svg2-elem-1 {
    stroke-dashoffset: 357.80889892578125px;
    stroke-dasharray: 357.80889892578125px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
svg.active .svg2-elem-1 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-2 {
    stroke-dashoffset: 221.8392333984375px;
    stroke-dasharray: 221.8392333984375px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}
svg.active .svg2-elem-2 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-3 {
    stroke-dashoffset: 246.36868286132812px;
    stroke-dasharray: 246.36868286132812px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}
svg.active .svg2-elem-3 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-4 {
    stroke-dashoffset: 244.82432556152344px;
    stroke-dasharray: 244.82432556152344px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}
svg.active .svg2-elem-4 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-5 {
    stroke-dashoffset: 221.8388671875px;
    stroke-dasharray: 221.8388671875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}
svg.active .svg2-elem-5 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-6 {
    stroke-dashoffset: 158.0725860595703px;
    stroke-dasharray: 158.0725860595703px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}
svg.active .svg2-elem-6 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-7 {
    stroke-dashoffset: 221.83958435058594px;
    stroke-dasharray: 221.83958435058594px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}
svg.active .svg2-elem-7 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-8 {
    stroke-dashoffset: 128.38294219970703px;
    stroke-dasharray: 128.38294219970703px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
}
svg.active .svg2-elem-8 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-9 {
    stroke-dashoffset: 197.3252410888672px;
    stroke-dasharray: 197.3252410888672px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
}
svg.active .svg2-elem-9 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-10 {
    stroke-dashoffset: 246.1002960205078px;
    stroke-dasharray: 246.1002960205078px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}
svg.active .svg2-elem-10 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-11 {
    stroke-dashoffset: 300.2903747558594px;
    stroke-dasharray: 300.2903747558594px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}
svg.active .svg2-elem-11 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-12 {
    stroke-dashoffset: 221.8396453857422px;
    stroke-dasharray: 221.8396453857422px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s;
}
svg.active .svg2-elem-12 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-13 {
    stroke-dashoffset: 196.82293701171875px;
    stroke-dasharray: 196.82293701171875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
}
svg.active .svg2-elem-13 {
    stroke-dashoffset: 0;
}
svg .svg2-elem-14 {
    stroke-dashoffset: 158.57424926757812px;
    stroke-dasharray: 158.57424926757812px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
}
svg.active .svg2-elem-14 {
    stroke-dashoffset: 0;
}
@media (max-width: 1000px) {
    .nav {
      display: none;
    }
    main {
        margin: auto;
    }
    .introup {
        margin: auto;
    }
    .card-left div {
        width: 120px;
        text-align: center;
    }
    .layer1 {
        top: 5vw;
        background-position: right;
    }
    .layer2 {
        background-position: right;
    }
    .layer3 {
        top: -20vw;
    }
    .layer5 {
        background-position: center;
        background-size: 200%;
        top: 5vw;
    }
    .layer6 {
        left: 2vw;
        font-size: 3rem;
    }
    .layer7 {
        left: 34vw;
        font-size: 2rem;
    }
    .layer8 {
        top: 30vh;
        left: 64vw;
        font-size: 1.5rem;
    }
    .balloon2{
    display: block;
    }
    .svg-container1 {
        top: 2rem;
        height: 66px;
        margin-bottom: 0;
    }
    .svg-container2 {
        margin-top: 0;
    }

    .arrow-container {
        width: 40px;
        height: 100px;
        right: 50px;
        bottom: 50px;
    }
    .form {
        width: 80%;
    }
    .form__label {
        width: 200px;
    }
    .intro {
        min-width: 300px;
    }
}
@media (max-width: 1400px) {

    .card-right {
    margin: auto;
    }
}
@media (min-width: 1000px) {
    .burguer-container {
      display: none;
    }
    .menu__anchor {
        display: none;
    }

  }